@media (min-width: 979px) {
	body{
		padding-top: 60px;
	}
}

.dinnericons{
	float: right;
}

.right {float: right;}
.left {float: left;}
.orderbutton {
	display: block;
	margin: 0 auto 20px auto;
	max-width: 300px;
}