@(dinners: List[Dinner], orders: List[Order])

@import helper._
@import helper.FieldConstructor 
@import helper.twitterBootstrap2._ 
@import java.util.Date

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapFieldConstructor.f)}

@main("Feed Me!") {
    
    @if(dinners.size > 0) {
    	@dinners.map { dinner =>
    		<div class="well">
                @if(dinner.dinner_time.getDate() == new Date().getDate()){
                    <h3>@dinner.name kl @dinner.dinner_time.format("HH:mm")</h3>
                    <p>@dinner.description</p>
                    <p>Bestil inden @dinner.order_latest_time.format("HH:mm") fra <a target="_blank" href="@dinner.restaurant_link">@dinner.restaurant_name</a></p>
                } else {
                    <h3>@dinner.name kl @dinner.dinner_time.format("dd/MM-yyyy HH:mm")</h3>
                    <p>@dinner.description</p>
                    <p>Bestil inden @dinner.order_latest_time.format("dd/MM-yyyy HH:mm") fra <a target="_blank" href="@dinner.restaurant_link">@dinner.restaurant_name</a></p>
                }
                <table>
                    <tr>
                        <th>Navn</th>
                        <th>Nr</th>
                        <th>Kommentar</th>
                    </tr>
                    @orders.map { order =>
                        <tr>
                            <td>@order.name</td>
                            <td>@order.food_number</td>
                            <td>@order.comment</td>
                        </tr>
                    }
                </table>	
    		</div>
    	}
        <a class="btn btn-primary" href="@routes.DinnerController.newDinner">Ny bestilling</a>	
    } else {
        <div class="hero-unit">
            <h1>Ingen bestillinger</h1>
            <p>Der er pt ingen bestillinger åbne. Er du sulten så opret en nu!</p>
            <a class="btn btn-primary btn-large" href="@routes.DinnerController.newDinner">
                Ny bestilling
            </a>
        </div>
    }
    
}