@(dinner: Dinner, orders:List[Order])

@import java.util.Date
@import helper._
@import helper.FieldConstructor 
@import helper.twitterBootstrap2._ 

@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapFieldConstructor.f)}

@main(dinner.name){
                
    <h1 class="page_heading1">@dinner.name</h1>
	    <p class="page_description">@dinner.description</p>
    <dl class="dl-horizontal">
    	<dt>Spisetid</dt>
    	<dd>@dinner.dinner_time.format("dd/MM-yyyy HH:mm")</dd>
    	<dt>Bestil inden</dt>
    	<dd>@dinner.order_latest_time.format("dd/MM-yyyy HH:mm")</dd>
    	<dt>Restaurant</dt>
    	<dd><a target="_blank" href="@dinner.restaurant_link">@dinner.restaurant_name</a></dd>
    </dl>

    @if(dinner.order_latest_time.after(new Date())){
	    <a href="@routes.OrderController.create(dinner.id)" class="btn btn-primary btn-block btn-large orderbutton">Bestil mad</a>
    }

    @if(dinner.open && !orders.isEmpty){
        <p class="ordertable_num_orders">@orders.size orders</p>
        <table id="ordertable" class="table table-bordered table-striped responsive-utilities">
            <tr>
                <th>Navn</th>
                <th>Mad navn/nr</th>
                <th>Kommentar</th>
                <th></th>
            </tr>

        @orders.map { order =>
            <tr>
                <td>@order.name</td>
                <td>@order.food_name</td>
                <td>@order.comment</td>
                <td><a href='@routes.OrderController.delete(order.id)'><i class="icon-remove"></a></td>
            </tr>
        }
        </table>
    }
    <label class="checkbox"><input id="ordermode" type="checkbox"> Order mode </label>
    <a href="@routes.Application.index" class="btn btn-large"><i class="icon-arrow-left"></i> Back</a>
}